{% extends "base.html" %}

{% block content %}

<div class="row">
    <pre class="error"></pre>
    <h2 style="text-align:center;">Whoops, looks like we can't find that.</h2>
    <h2 style="text-align:center;">Sorry about that</h2>
</div>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.min.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/figlet.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.figlet.js"></script>
<script>
$(function() {
			$(".error").figlet("Not Found");
		});
</script>

{% endblock %}


{% block scripts %}

{% endblock %}
