{% extends "base.html" %}

{% block content %}

<div class="row">
	<pre id="#no_permisson"></pre>
    <h2 style="text-align:center;">That action isn't allowed</h2>
</div>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.min.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/figlet.js"></script>
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.figlet.js"></script>
<script>
$(function() {
			$("#no_permisson").figlet("No Permission");
		});
</script>
{% endblock %}

{% block scripts %}
{% endblock %}
