{% extends "base.html" %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <pre id="scoreboard_title"></pre>
    </div>
</div>
<div class="container main-container">
    <div id="score-graph"></div>
    <br>
    <table id="scoreboard" style="display: none">
        <thead>
            <tr> <th>Place</th><th>Team</th><th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr><td>{{ loop.index }}</td><td><a href="{{ request.script_root }}/team/{{ team.teamid }}">{{ team.name }}</a></td><td>{{ team.score }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<pre class="ascii-table"></pre>
{% endblock %}

{% block scripts %}
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/plotly.min.js"></script>
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/utils.js"></script>
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/scoreboard.js"></script>
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/jquery.ascii.js"></script>
    <script>
        $(function() {
            $("#scoreboard_title").figlet("Scoreboard");
        });
        $(document).ready(function() {
            var table = $(".ascii-table").html($("#scoreboard").ascii());
            console.log(table);
        }); 
    </script>
{% endblock %}
